<h2>Регистрация</h2>
<div class="row">
  <div class="col-12 col-md-6">
<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="form-group">
    <%= f.label :name %>
    <%= f.text_field :name, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :email %>
    <%= f.email_field :email, class: 'form-control', autocomplete: "email" %>
  </div>

  <div class="form-group">
    <%= f.label :password, "Пароль #{min_pass_len}" %>
    <%= f.password_field :password, class: 'form-control', autocomplete: "new-password" %>
  </div>

  <div class="form-group">
    <%= f.label :password_confirmation, 'Подтверждение пороля' %>
    <%= f.password_field :password_confirmation, class: 'form-control', autocomplete: "new-password" %>
  </div>

  <div class="form-group">
    <%= f.submit "Зарегистрироваться", class: 'btn btn-primary' %> или <%= link_to 'вернуться', :back %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
  </div>
</div>